.header {
  position: relative;
}
.header__top {
  padding-top: 13px;
  padding-bottom: 14px;
  background: #FFFFFF;
}
@media (max-width: 580px) {
  .header__top {
    padding-top: 20px;
  }
}
.header__top__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  grid-column: 4/11;
  padding-left: 16px;
}
@media (max-width: 1140px) {
  .header__nav {
    grid-column: 3/11;
  }
}
@media (max-width: 950px) {
  .header__nav {
    grid-column: auto;
    left: -100vw;
    position: absolute;
    top: -13px;
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
    background-color: #ffffff;
    padding-left: 0;
    height: 100vh;
    z-index: 11;
  }
  .header__nav.open {
    left: 0;
    transition: left 0.3s ease-in-out;
  }
  .header__nav.dark_mode {
    background-color: #2d2d2d;
  }
}
@media (max-width: 580px) {
  .header__nav {
    top: -20px;
  }
}
.header__nav__list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .header__nav__list {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 950px) {
  .header__nav__list {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.header__nav__list__item {
  cursor: pointer;
}
@media (max-width: 950px) {
  .header__nav__list__item:first-child a {
    width: auto;
  }
}
@media (max-width: 950px) {
  .header__nav__list__item:nth-child(2) a {
    width: auto;
  }
}
@media (max-width: 950px) {
  .header__nav__list__item:nth-child(5) a {
    width: auto;
  }
}
.header__nav__list__item:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 1140px) {
  .header__nav__list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 950px) {
  .header__nav__list__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.header__nav__list__item__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.header__nav__list__item__link:hover {
  color: #FFC540;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 950px) {
  .header__nav__list__item__link {
    font-size: 22px;
    color: #2d2d2d;
  }
  .header__nav__list__item__link.dark_mode {
    color: #f2f2f2;
  }
}
.header__bottom {
  padding-top: 17px;
  padding-bottom: 35px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.header__bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  grid-column: 1/4;
}
@media (max-width: 770px) {
  .header__logo {
    grid-column: 1/5;
  }
}
@media (max-width: 580px) {
  .header__logo {
    grid-column: auto;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__logo__link {
  display: flex;
  align-items: center;
}
.header__logo__link img {
  margin-right: 9px;
  overflow: hidden;
  border-radius: 10%;
}
.header__logo__link__text.dark_mode {
  color: #FAFBFC;
}
.header__logo__link__text {
  max-width: 138px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #4E4C4C;
}
@media (max-width: 580px) {
  .header__logo__link__text {
    position: initial;
    width: 176px;
    color: #FAFBFC;
  }
}
.header__search {
  padding-left: 10px;
  display: flex;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 580px) {
  .header__search {
    padding-left: 0;
  }
}
.header__search__inner {
  position: relative;
  width: 100%;
}
.header__search__border {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 101;
  width: calc(100% + 20px);
  height: 1px;
  left: 10px;
  background-color: #e1e1e1;
}
.header__search__btn {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #9E9E9E;
  border-left: none;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.header__search__btn__span svg {
  fill: #4E4C4C;
}
.header__search__btn.dark_mode .header__search__btn__span svg {
  fill: #f2f2f2;
}
.header__search__span {
  position: absolute;
  top: 8px;
  left: 8px;
}
.header__search__btn.dark_mode {
  background-color: #2d2d2d;
}
.header__shopping_cart {
  display: flex;
  gap: 30px;
  padding-left: 50px;
}
@media (max-width: 950px) {
  .header__shopping_cart {
    justify-content: flex-end;
  }
}
@media (max-width: 1140px) {
  .header__shopping_cart {
    padding-left: 20px;
  }
}

.burger_menu {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 12;
}

.burger_menu span {
  background-color: #000;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger_menu span:nth-child(1) {
  top: 0;
  left: 0;
}

.burger_menu span:nth-child(2) {
  top: 9px;
  left: 0;
  opacity: 1;
}

.burger_menu span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.burger_menu.open span {
  background-color: #4e4e4e;
}

.burger_menu.dark_mode span {
  background-color: #f2f2f2;
}

.burger_menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.burger_menu.open span:nth-child(2) {
  opacity: 0;
}

.burger_menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}/*# sourceMappingURL=index.module.css.map */