.dashboard {
  padding-top: 40px;
  padding-bottom: 120px;
}
@media (max-width: 800px) {
  .dashboard {
    padding-bottom: 32px;
    padding-top: 0;
  }
}
.dashboard__alert {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 48px;
  padding-right: 55px;
}
@media (max-width: 510px) {
  .dashboard__alert {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
}
.dashboard__alert.dark_mode {
  background-color: #2d2d2d;
}
.dashboard__alert__left {
  display: flex;
  flex-direction: column;
}
@media (max-width: 510px) {
  .dashboard__alert__left {
    margin-bottom: 16px;
    align-items: center;
  }
}
.dashboard__alert__left span {
  color: #2D2D2D;
}
.dashboard__alert__left span:first-child {
  margin-bottom: 5px;
}
.dashboard__alert__left.dark_mode span {
  color: #f2f2f2;
}
@media (max-width: 768px) {
  .dashboard__alert__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 510px) {
  .dashboard__alert__right {
    width: 100%;
  }
}
.dashboard__alert__btn_cart, .dashboard__alert__btn_order {
  text-align: center;
  font-size: 18px;
  padding: 8px 40px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .dashboard__alert__btn_cart, .dashboard__alert__btn_order {
    width: 100%;
  }
}
.dashboard__alert__btn_cart {
  margin-right: 24px;
  background-color: #EBF5FD;
  border: 1px solid #1C629E;
  color: #1C629E;
}
@media (max-width: 768px) {
  .dashboard__alert__btn_cart {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.dashboard__alert__btn_order {
  background-color: #1C629E;
  color: #f2f2f2;
}
.dashboard__alert__btn_close {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 5px;
}
.dashboard__alert__btn_close::before, .dashboard__alert__btn_close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 18px;
  border-radius: 3px;
  background-color: #1C629E;
}
.dashboard__alert__btn_close::before {
  transform: rotate(45deg);
}
.dashboard__alert__btn_close::after {
  transform: rotate(-45deg);
}
.dashboard__brands {
  margin-bottom: 48px;
}
@media (max-width: 800px) {
  .dashboard__brands {
    margin-bottom: 32px;
  }
}
@media (max-width: 468px) {
  .dashboard__brands {
    margin-bottom: 64px;
  }
}
.dashboard__brands__slider {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
}
@media (max-width: 800px) {
  .dashboard__brands__slider {
    height: 60px;
  }
}
.dashboard__brands__slider__arrow {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 17px;
  z-index: 5;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .dashboard__brands__slider__arrow {
    display: none;
  }
}
.dashboard__brands__slider__arrow:hover {
  background-color: #FFCF62;
  transition: background-color 0.2s ease-in-out;
}
.dashboard__brands__slider__arrow span {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.dashboard__brands__slider__arrow span svg {
  fill: #4E4C4C;
  position: absolute;
  top: 16px;
  left: 16px;
}
.dashboard__brands__slider__arrow.dark_mode {
  background-color: #4E4C4C;
}
.dashboard__brands__slider__arrow.dark_mode span svg {
  fill: #f2f2f2;
}
.dashboard__brands__slider__arrow.dark_mode:hover {
  background-color: #2d2d2d;
  transition: background-color 0.2s ease-in-out;
}
.dashboard__brands__slider__arrow_prev {
  left: 8px;
}
.dashboard__brands__slider__arrow_prev span svg {
  transform: rotate(180deg);
}
.dashboard__brands__slider__arrow_next {
  right: 8px;
}
.dashboard__brands__slider .slick-slide {
  margin: 0 10px !important;
}
.dashboard__brands__slider .slick-list {
  height: 80px !important;
}
.dashboard__brands__slide {
  height: 68px;
  display: flex !important;
  align-items: center !important;
  max-height: 68px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}
@media (max-width: 800px) {
  .dashboard__brands__slide {
    height: 48px;
  }
}
.dashboard__brands__slide img {
  width: 100%;
}
.dashboard__brands__slide.dark_mode {
  background-color: #2d2d2d;
}
.dashboard__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 55px;
  margin: 0;
  margin-bottom: 48px;
  color: #2d2d2d;
}
@media (max-width: 800px) {
  .dashboard__title {
    font-size: 42px;
  }
}
@media (max-width: 468px) {
  .dashboard__title {
    display: none;
  }
}
.dashboard__title.dark_mode {
  color: #f2f2f2;
}
.dashboard__slider {
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  .dashboard__slider {
    margin-bottom: 33px;
  }
}
.dashboard__slide {
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  padding: 24px 16px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
@media (max-width: 560px) {
  .dashboard__slide {
    padding: 16px 8px;
  }
}
.dashboard__slide:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.dashboard__slide img {
  width: 100%;
  height: 184px;
  margin-bottom: 24px;
}
@media (max-width: 560px) {
  .dashboard__slide img {
    height: 99px;
    margin-bottom: 16px;
  }
}
.dashboard__slide__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 18px;
  color: #4E4C4C;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 560px) {
  .dashboard__slide__title {
    font-size: 15px;
    margin-bottom: 16px;
  }
}
.dashboard__slide__code {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;
  color: #7B7B7B;
}
@media (max-width: 560px) {
  .dashboard__slide__code {
    font-size: 13px;
    margin-bottom: 16px;
  }
}
.dashboard__slide__price {
  font-weight: 500;
  font-size: 20px;
  color: #2D2D2D;
}
@media (max-width: 560px) {
  .dashboard__slide__price {
    font-size: 17px;
  }
}
.dashboard__slide.dark_mode .dashboard__slide__title {
  color: #f2f2f2;
}
.dashboard__slide.dark_mode .dashboard__slide__code {
  color: #7B7B7B;
}
.dashboard__slide.dark_mode .dashboard__slide__price {
  color: #f2f2f2;
}
.dashboard__slide.dark_mode {
  background-color: #2d2d2d;
}
.dashboard__parts__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 36px;
  margin: 0;
  margin-bottom: 40px;
  color: #2d2d2d;
  text-align: center;
}
.dashboard__parts__title.dark_mode {
  color: #f2f2f2;
}
@media (max-width: 800px) {
  .dashboard__parts__title {
    margin-bottom: 16px;
    font-size: 22px;
  }
}
.dashboard__about__title {
  margin-bottom: 48px;
}
@media (max-width: 800px) {
  .dashboard__about__title {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.dashboard__about__text {
  margin: 0;
  font-size: 14px;
  max-width: 1076px;
  line-height: 22px;
  color: #4E4C4C;
}
.dashboard__about__text.dark_mode {
  color: #f2f2f2;
}/*# sourceMappingURL=index.module.css.map */